<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD con Thymeleaf y Bootstrap</title>
    <!-- Estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Lista funciones</h2>

		<a th:href="@{/registrar_funcion}" class="btn btn-primary">Registrar</a>
        <!-- Tabla de usuarios -->
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>IDFuncion</th>
                    <th>Pelicula</th>
                    <th>Sala</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="funcion : ${listaFuncion}">
                    <td th:text="${funcion.IdFuncion}"></td>
                    <td th:text="${funcion.IdPelicula.nomPelicula}"></td>
                    <td th:text="${funcion.IdSala.nomSala}"></td>
                    <td th:text="${funcion.IdHorario.hora}"></td>
                    <td>
                    <a th:href="@{/delete/{id}(id=${funcion.IdFuncion})}" class="btn btn-danger">Eliminar</a> |
                    <a th:href="@{/editar_funcion/{id}(id=${funcion.IdFuncion})}" class="btn btn-warning">Editar</a>  
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
