<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Administrador</title>
    <!-- Estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="css/menu-administrador.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/menu}">Cine</a>
        <div class="d-flex">
            <a class="btn btn-outline-danger ml-2" th:href="@{/logout}" role="button">Cerrar sesión</a>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h2 class="text-center mb-4">Menú Administrador</h2>
    <div class="text-center">
        <a th:href="@{/empleados}" class="btn btn-custom1">Gestionar Empleados</a>
        <a th:href="@{/funciones}" class="btn btn-custom2">Gestionar Funciones</a>
        <a th:href="@{/registrar_pelicula}" class="btn btn-custom3">Gestionar Películas</a>
    </div>
</div>

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
