<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar Empleado</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card mt-5">
            <h1 class="text-center mt-5">Registrar Empleados</h1>
            <div class="card-body">
                <form th:action="@{/registrar_empleado}" th:object="${empleado}" method="POST">
                    <div class="form-group">
                        <label>Nombre: </label>
                        <input type="text" name="nomEmpleado" th:field="*{nomEmpleado}" class="form-control" placeholder="Digite sus Nombres" required>
                    </div>
                    <div class="form-group">
                        <label>Apellidos: </label>
                        <input type="text" name="apeEmpleado" th:field="*{apeEmpleado}" class="form-control" placeholder="Digite sus Apellidos" required>
                    </div>
                    <div class="form-group">
                        <label>Dni: </label>
                        <input type="text" name="dni" th:field="*{dni}" class="form-control" required maxlength="8" placeholder="Digite su Dni">
                    </div>
                    <div class="form-group">
                        <label>Correo: </label>
                        <input type="email" name="correo" th:field="*{correo}" class="form-control" placeholder="Digite su Correo" required>
                    </div>
                    <div class="form-group">
                        <label>Contraseña: </label>
                        <input type="password" name="contrasenia" th:field="*{contrasenia}" class="form-control" placeholder="Digite su Contraseña" required>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo de Empleado: </label>
						<select  name="itemId" id="tipo" class="form-control mb-3" th:field="*{idTipo.idTipo}">
				        	<option value="" disabled selected>Seleccione un Tipo de Empleado</option>
				        	<option th:each="tipo : ${listarTipo}" th:value="${tipo.idTipo}" th:text="${tipo.nombTipo}"></option>
				      	</select>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>