		body {
            background-color: #343a40; /* dark background */
            color: #ffffff; /* white text */
        }
        .navbar {
            background-color: #212529; /* different dark color for navbar */
        }
        .navbar-brand, .btn {
            color: #ffffff;
        }
        .btn-outline-danger {
            color: #ff4d4d;
            border-color: #ff4d4d;
        }
        .btn-outline-danger:hover {
            background-color: #ff4d4d;
            color: #ffffff;
        }
        .btn-primary {
            background-color: #007bff; /* custom blue */
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
        .btn-secondary {
            background-color: #6c757d; /* custom gray */
            border-color: #6c757d;
        }
        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }
        .form-group label {
            color: #ffffff; /* white text for labels */
        }